# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Packages
Packages/*.lock

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.unityproj

# Rider
.idea/
*.iml

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Gradle/Android
.gradle/
.utmp/
